<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <Binary Id="sqlitebundle.exe" SourceFile="..\bin\sqlitebundle.exe" />
        <CustomAction Id="UpdateDatabase"
                      BinaryRef="sqlitebundle.exe"
                      ExeCommand=""
                      Execute="deferred"
                      Impersonate="true"
                      Return="check" />
    </Fragment>
</Wix>
