<?define Version="1.2.1.0"?>
<?define UpgradeCode="de2b82bf-3395-436a-aa55-0061a3669ef0"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="RYM RSS Service"
           Manufacturer="Ix"
           Version="$(Version)"
           UpgradeCode="$(UpgradeCode)">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <Upgrade Id="$(UpgradeCode)">
      <UpgradeVersion OnlyDetect="true"
                      Property="UPGRADING"
                      Maximum="$(Version)"
                      IncludeMaximum="true" />
    </Upgrade>
    <Property Id="RYM_USERNAME">
      <RegistrySearch Type="raw" Root="HKLM" Key="Software\RymRss" Name="ScrapeOptions:User"/>
    </Property>
    <Property Id="RYM_COOKIES">
      <RegistrySearch Type="raw" Root="HKLM" Key="Software\RymRss" Name="ScrapeOptions:Cookies"/>
    </Property>

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="RymRssComponents" />
    </Feature>

    <ui:WixUI Id="UI_InstallDir" InstallDirectory="INSTALLFOLDER"/>

    <!-- TODO Install bundle and launch from installfolder -->
    <InstallExecuteSequence>
      <Custom Action="UpdateDatabase" Before="StartServices" Condition="(&amp;Main=3)"/>
    </InstallExecuteSequence>
  </Package>
</Wix>
