<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="RymRssComponents">
      <Component Id="ServiceExecutable" Directory="INSTALLFOLDER" Bitness="always64">
        <File Id="RymRss.exe" Source="..\bin\publish\RymRss.exe" KeyPath="true"/>
        <RemoveFile Id="ALLFILES" Name="*.*" On="both"/>
        <ServiceInstall Id="RymRssServiceInstaller"
                        Name="RymRssService"
                        DisplayName="!(loc.ServiceName)"
                        Description="!(loc.ServiceDescription)"
                        Type="ownProcess"
                        Start="auto"
                        ErrorControl="normal"/>
        <ServiceControl Id="RymRssServiceStart"
                        Name="RymRssService"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Wait="true"/>
      </Component>

      <Component Directory="DATAFOLDER" Id="AppSettings">
        <File Id="appsettings.json" Source="..\bin\publish\appsettings.json"/>

        <RegistryKey Root="HKLM" Key="Software\RymRss" ForceDeleteOnUninstall="true">
          <RegistryValue Type="string" Name="AppOptions:DataFolder" Value="[DATAFOLDER]"/>
          <RegistryValue Type="string" Name="ScrapeOptions:User" Value="[RYM_USERNAME]"/>
          <RegistryValue Type="multiString" Name="ScrapeOptions:Cookies" Value="[RYM_COOKIES]"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
