<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Dialog Id="ServiceSettingsDlg" Width="370" Height="270" Title="!(loc.ServiceSettingsDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>

                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ServiceSettingsDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ServiceSettingsDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ServiceSettingsDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="UserLabel" Type="Text" X="20" Y="60" Width="320" Height="17" NoPrefix="yes" Text="!(loc.ServiceSettingsDlgUserLabel)" />
                <Control Id="UserEdit" Type="Edit" X="20" Y="77" Width="320" Height="17" Property="RYM_USERNAME" />

                <Control Id="CookiesLabel" Type="Text" X="20" Y="106" Width="320" Height="17" NoPrefix="yes" Text="!(loc.ServiceSettingsDlgCookiesLabel)" />
                <Control Id="CookiesEdit" Type="Edit" X="20" Y="123" Width="320" Height="50" Multiline="yes" Property="RYM_COOKIES" />
                <Control Id="CookiesExample1Label" Type="Text" X="20" Y="177" Width="320" Height="15" NoPrefix="yes" Text="!(loc.ServiceSettingsDlgCookiesExampleLabel)" />
                <Control Id="CookiesExample2Label" Type="Text" X="20" Y="192" Width="320" Height="15" NoPrefix="yes" Text="username=example1; Expires=Tue, 01-Jan-2030 01:00:00 GMT; Path=/; HttpOnly;" />
                <Control Id="CookiesExample3Label" Type="Text" X="20" Y="207" Width="320" Height="15" NoPrefix="yes" Text="ulv=example2; Expires=Tue, 01-Jan-2030 01:00:00 GMT; Path=/; secure; HttpOnly;" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>
